
#container {
    display: flex;
    flex-wrap: wrap;      
    width: 960px;
    height: 960px;
    border: 5px solid black; 
    margin: 20px auto;
}

.grid-square {
    width: 60px;           
    height: 60px;
    border: 1px solid #ccc; 
    

    box-sizing: border-box; 
}